/* HEADER CONTACT  */
.header-contact {
  background: var(--yellow);
}

.header-contact-container {
  width: 70%;
  margin: 0 auto;
  padding: 90px 0px 70px;
}

/* title  */
.title-contact h2 {
  color: var(--white);
  font-weight: 900;
  width: 800px;
}

/* email  */
.title-contact p {
  font-family: Montserrat, verdana;
  font-size: 60px;
  font-weight: 900;
}

.socialDiv {
  display: flex;
  align-items: center;
}

.socialDiv p {
  width: 570px;
  line-height: 25px;
  margin: 80px 30px 50px 0px;
}

.socialUl {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex: 1;
}

/* social logo  */
.socialUl img {
  width: 65px;
}

/* hearts */
.three-hearts-contact {
  width: 570px;
}
