/* HEADER-CONTAINER  */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
}

/* LEFT PART  */
.logo-pizza {
  width: 90px;
}

/* RIGHT-PART  */
.hamburger-menu {
  background: none;
  border: none;
  width: 35px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hamburger-bar {
  height: 3px;
  width: 100%;
  background: black;
}
