:root {
  --white: rgb(252, 252, 252);
  --black: rgb(17, 17, 17);
  --grey: #404040;
  --green: #4b9c6e;
  --yellow: #fab308;
  --ocre: #b84b23;
  --beige: #fbf0e8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  height: 100vh;
}

h1 {
  font-family: Montserrat, verdana;
  font-size: 170px;
}

h2 {
  font-family: Montserrat, verdana;
  font-size: 72px;
}

p,
span {
  font-family: Open-Sans, verdana;
}
